/Bot_docker/MuscleBot/obj/Debug/net10.0
/Bot_docker/.vs
/Bot_docker/MuscleBot/bin

/JSON_docker/__pycache__
/docker-project258Updated/dataIngestion/bluesky/__pycache__
/docker-project258Updated/ContainerMuscleBot/.vs
/docker-project258Updated/ContainerMuscleBot/MuscleBot/obj/Debug
/docker-project258Updated/ContainerMuscleBot/MuscleBot/obj
/Bot_docker/MuscleBot/obj
/Bot_docker/MuscleBot/obj
/docker-project258Updated/ContainerMuscleBot/MuscleBot/.vs
/docker-project258Updated/ContainerMuscleBot/MuscleBot/bin
