# Visual Studio
.vs/

# Build outputs
bin/
obj/

# Python cache
__pycache__/

# Debug folders
Debug/

# Optional: user-specific / local config (if needed)
*.user
*.log
/docker-project258Updated/dataIngestion/bluesky/.vs
